@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --color-background: var(--background);
    --color-background-muted: var(--background-muted);
    --color-foreground: var(--foreground);
    --color-foreground-muted: var(--foreground-muted);
    --color-brand-primary: #FF4829;
    --color-brand-secondary: #FF6D2A;
    --color-white: #ffffff;
    --color-black: #000000;

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --spacing-xs: calc(var(--space) - 8px);
    --spacing-sm: calc(var(--space) - 4px);
    --spacing-md: var(--space);
    --spacing-lg: calc(var(--space) + 16px);
    --spacing-xl: calc(var(--space) + 24px);
    --spacing-2xl: calc(var(--space) + 48px);
    --spacing-3xl: calc(var(--space) + 64px);
    --spacing-4xl: calc(var(--space) + 96px);
}

:root {
    --radius: 0.625rem;
    --space: 1rem;

    --background: #ffffff;
    --background-muted: #e3e3e3;
    --foreground: #000000;
    --foreground-muted: #757575;
}

.dark {
    --background: #000000;
    --background-muted: #252525;
    --foreground: #ffffff;
    --foreground-muted: #838383;
}