@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-brand: #ff4d4d;
}

:root {
    --background: #ffffff;
    --foreground: #000000;
}

.dark {
    --background: #000000;
    --foreground: #ffffff;
}