@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --brand: #d7f21d;

    --smallest: 10px;
    --small: 20px;
    --medium: 60px;
    --section: 160px;

    --body: 15px;
}

html,
body,
* {
    scrollbar-width: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: sans-serif,-apple-system, BlinkMacSystemFont, Segoe UI, Roboto;
    transition: background 0.25s ease-in-out;
}

@layer base {
    body[data-theme="light"] {
        --primary: #09090B;
        --primary-light: #71717A;
        --secondary: #ffffff;
    }

    body[data-theme="dark"] {
        --primary: #e7e7e7;
        --primary-light: #a99999;
        --secondary: #09090B;
    }
}

li::marker {
    font-size: 15px;
}

a {
    cursor: pointer;
    text-decoration: none;
}

.heading-big {
    font-size: 48px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
strong,
span,
button,
label,
a,
li {
    font-size: var(--body);
    color: var(--primary);
    font-weight: 400;
}

.mono {
    font-family: var(--font-azeret-mono), monospace;
    font-size: 13px;
    color: var(--primary-light);
    text-transform: uppercase;
}

.grid {
    transition: background 0.25s ease-in-out;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
    padding: 0 20px;
}

.grid-debug {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.grid-debug-item {
    background-color: rgba(236, 111, 111, 0.21);
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(6, 1fr);
    }

    .grid-debug {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media (max-width: 640px) {
    .grid {
        grid-gap: 10px;
        padding: 0 20px;
    }

    .grid-debug {
        grid-gap: 10px;
        padding: 0 20px;
    }
}