.about__header {
  width: 60%;
  padding: 4rem 0 var(--marginSection) var(--marginLayoutLeftFirst2);
}

.about__container {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  align-items: center;
}

.about__roadmap {
  display: flex;
  position: relative;
  height: 100vh;
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.about__container h2,
.about__container h3,
.about__container span {
  font-size: var(--bigFont);
  line-height: var(--bigFontHeight);
  font-weight: bold;
  position: absolute;
  color: var(--color-text-main);
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.about__container h3,
.about__container span {
  font-size: var(--bigFont);
  opacity: 0;
}

.first-div {
  height: 100vh;
  width: 30%;
}

.about__roadmap__copy {
  width: 25%;
  margin: var(--marginElementLittle) 0;
  font-weight: bold;
}

.about__roadmap__copy h5 {
  margin: var(--marginElementLittle) 0;
  font-weight: bold;
}

.about__roadmap__copy p {
  color: var(--color-text-sec);
  padding-top: 6px;
}

.about__roadmap__copy-link {
  margin-top: 6rem;
}

.about__opacity {
  opacity: 0;
}

.about__absolute-left {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(0%, -50%);
  opacity: 0;
}

.about__absolute-right {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.spacer-small {
  height: 1px;
}
