.about-title-cnt {
  width: 100%;
  padding-top: 1rem;
  text-align: right;
  padding-left: 20vw;
  text-transform: uppercase;
}

.about__header {
  padding-bottom: var(--marginSection);
}

.about__container {
  height: 600vh;
  position: relative;
}

.absolute-left {
  position: absolute;
  left: 10px;
  top: 10px;
  opacity: 0;
}

.absolute-right {
  position: absolute;
  right: 10px;
  top: 10px;
  opacity: 0;
}

.about__roadmap__first-text {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.about__roadmap {
  display: flex;
  position: relative;
  height: 100vh;
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.about__roadmap h2,
h3 {
  font-size: var(--bigFont);
  font-weight: bold;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}
.about__roadmap h3 {
  font-size: var(--bigFont);
  opacity: 0;
}

.first-div {
  height: 100vh;
  width: 30%;
}

.about__roadmap__copy h5 {
  margin: var(--marginElementLittle) 0;
  font-weight: bold;
}

.about__roadmap__copy p {
  color: var(--color-text-sec);
  padding-top: 6px;
}

.about__roadmap__copy-link {
  margin-top: 5rem;
}

.about__opacity {
  opacity: 0;
}

.about__absolute-left {
  position: absolute;
  top: 50%;
  left: 20%;
  width: 30%;
  transform: translate(0%, -50%);
  opacity: 0;
}

.about__absolute-right {
  position: absolute;
  top: 50%;
  right: 20%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
