.blog-cnt h1 {
  color: var(--color-text);
}

.blog-cnt {
  display: flex;
  flex-direction: row;
}

.blog-posts-cnt {
  margin-top: 6rem;
  width: 100%;
  padding: 0 4rem;
}

.post-cnt p {
  text-align: left;
}

/* POST CARD */
/* POST CARD */
/* POST CARD */

.post-card-cnt {
  display: flex;
  flex-direction: row;
  margin-bottom: 18rem;
}

.post-card-info-cnt {
  width: 50%;
  padding-right: 10vw;
}

.post-card-img-cnt {
  width: 50%;
}

.post-card-img-cnt img {
  width: 100%;
  height: 100%;
}

.post-card-info-cnt p {
  margin: 4rem 0;
}

.post-card-info-cnt span {
  padding-top: 1rem;
  display: block;
}

.categories-dropdown-cnt {
  z-index: 9;
  text-align: right;
  padding-bottom: 2rem;
  color: var(--color-text-primary);
  border-radius: 2rem;
  position: fixed;
  right: 190px;
  top: 20px;
}

.categories-dropdown-cnt em {
  text-transform: uppercase;
}

.categories-dropdown-em {
  padding-bottom: 3rem;
}

.categories-dropdown {
  display: flex;
  margin-top: 1rem;
  gap: 1rem;
}

.blog-aside {
  position: fixed;
}

/* SINGLE POST */
/* SINGLE POST */
/* SINGLE POST */

.post-cnt {
  padding: 0 4rem;
}

.post-cnt h1 {
  text-transform: uppercase;
  padding-top: 4rem;
  padding-right: 12vw;
  margin-bottom: 15rem;
}

.post-img-cnt img {
  width: 100%;
  height: 100%;
}

.post-quick-info-cnt {
  width: 100%;
  margin-top: 4rem;
  margin-bottom: 10rem;
}

.post-quick-info {
  display: flex;
  margin-top: 1rem;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.article-content-cnt {
  width: 60%;
  margin-left: 15vw;
}

.author-card {
  width: 60%;
  margin-left: 15vw;
}

.author-card {
  gap: 4rem;
  margin-top: var(--marginSection);
  margin-bottom: var(--marginSection);
}

.author-card li {
  margin-top: 0.6rem;
}

.article-content-cnt h2 {
  font-size: var(--bigFont);
  margin-top: 13rem;
  margin-bottom: var(--marginBottomBlog);
}

.article-content-cnt h3 {
  font-size: var(--mediumFont);
  margin-top: var(--marginBottomBlog) 0;
}

.article-content-cnt p {
  font-weight: 400;
  font-size: var(--smallFont);
  margin-bottom: var(--marginBottomBlog);
}

.article-content-cnt img {
  margin-bottom: var(--marginBottomBlog);
  width: 100%;
  height: 100%;
}

.article-content-cnt pre {
  background-color: var(--color-text-primary);
  color: var(--color-bg-primary);
  font-weight: 600;
  padding: 1rem;
  border-radius: 0.2rem;
  margin-bottom: var(--marginBottomBlog);
}

.article-content-cnt a {
  text-decoration: underline;
  font-weight: 600;
}

.post-card-img-cnt img {
  object-fit: cover;
}

.author-card {
  background-color: var(--color-bg-primary);
}

.categories-dropdown-cnt {
  display: none;
}
