.footer {
  height: 100vh;
  margin-top: var(--marginSection);
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
}

.footer__first-col {
  width: 50%;
  height: 100%;
  padding-right: var(--marginElementMedium);
  display: flex;
  flex-direction: column;
}

.footer__icon {
  margin-top: -0.25rem;
  display: flex;
  align-self: flex-end;
  gap: var(--marginElement);
}

.footer__second-col {
  width: 50%;
}

.footer__first-col div {
  height: 100%;
  text-align: right;
  align-self: flex-end;
  justify-self: flex-end;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.footer__second-col ul {
  display: flex;
  gap: 4.4rem;
}

.footer__vertical-links {
  display: flex;
  flex-direction: column;
  gap: var(--marginElement);
}

#Tracciato_5,
#Tracciato_2,
#Tracciato_3,
#Tracciato_1,
#Tracciato_6,
#Ellisse_8,
#Rettangolo_3,
#Tracciato_8,
#Ellisse_10,
#Tracciato_4 {
  fill: var(--color-text-primary);
}

.footer__full-lenght-text em {
  font-size: 12vw;
}
