.footer {
  height: 100vh;
  padding-top: var(--marginSection);
  display: flex;
  position: relative;
  background-color: var(--color-bg-primary);
  z-index: 2;
  flex-direction: column;
  justify-content: space-between;
}

.footer__first-col {
  width: 50%;
  height: 100%;
  padding-right: 11vw;
  display: flex;
  flex-direction: column;
}

.footer__icon {
  margin-top: -0.25rem;
  display: flex;
  align-self: flex-end;
  gap: 30px;
}

.lang-cnt {
  display: flex;
  gap: 10px;
}

.footer__utils {
  display: flex;
  gap: 30px;
}

.footer__second-col {
  width: 50%;
}

.footer__first-col div {
  height: 50%;
  text-align: right;
  align-self: flex-end;
  margin-top: var(--marginElementMedium);
  justify-self: flex-end;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.footer__first-col div a {
  font-weight: 800;
}

.footer__first-col p {
  padding-left: 15vw;
  margin: var(--marginElement) 0;
}

.footer__form-name-object {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
  margin-bottom: var(--marginElement);
}

.footer__vertical-links {
  display: flex;
  flex-direction: column;
  gap: var(--marginElement);
}

.footer__name img {
  height: 100%;
  background-color: var(--color-bg-primary);
  z-index: 2;
  width: 100%;
}

.button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  margin-right: auto;
  margin-top: var(--marginElement);
}

#Tracciato_5,
#Tracciato_2,
#Tracciato_3,
#Tracciato_1,
#Tracciato_6,
#Ellisse_8,
#Rettangolo_3,
#Tracciato_8,
#Ellisse_10,
#Tracciato_4 {
  fill: var(--color-text-primary);
}

.footer__full-lenght-text em {
  font-size: 12vw;
}

.footer__second-col-form {
  height: 90%;
  display: flex;
  margin-top: var(--marginElementMedium);
  align-items: center;
}

.footer__form {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.footer__form input,
.footer__form textarea {
  margin-top: 5px;
  color: var(--color-text-primary);
}

.footer__form input,
.footer__form textarea {
  background-color: var(--color-background);
  border: 0;
  border-bottom: 1px var(--color-text-sec) solid;
}
.footer__first-row {
  display: flex;
  width: 100%;
}

.footer__name img {
  width: 100%;
}
