@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --brand: #d7f21d;

    --smallest: 10px;
    --small: 20px;
    --medium: 60px;
    --section: 160px;

    --body: 15px;
}

html,
body,
* {
    scrollbar-width: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Jost', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, sans-serif;
}

body {
    font-family: 'Jost', sans-serif;
    background: var(--secondary);
    color: var(--primary);
    transition: background 0.25s ease-in-out;
    -ms-overflow-style: none;
}

@layer base {
    body[data-theme="light"] {
        --primary: #09090B;
        --primary-light: #71717A;
        --secondary: #ffffff;
    }

    body[data-theme="dark"] {
        --primary: #09090B;
        --primary-light: #71717A;
        --secondary: #ffffff;
    }
}

::-webkit-scrollbar {
    display: none;
}

li::marker {
    font-size: 8px;
}


a {
    cursor: pointer;
    text-decoration: none;
}

li {
    list-style: none;
}

.heading-large {
    font-size: 70px;
    line-height: 80px;
}

.heading-big {
    font-size: 48px;
}

.heading-regular {
    font-size: 20px;
    line-height: normal;
}

.paragraph {
    font-size: 15px;
}

h1,
h2,
h3,
h4,
span,
h5,
button,
h6,
p,
label,
a,
li {
    font-size: var(--body);
    color: var(--primary);
    font-weight: 400;
}

.grid {
    transition: background 0.25s ease-in-out;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
    padding: 0 20px;
}

.grid-home-name {
    grid-column: 1 / 13;
}

.grid-home-works {
    grid-column: 2 / 12;
}

.grid-home-text {
    grid-column: 2 / 7;
}

.grid-home-about-h2 {
    grid-column: 4 / 13;
}

.grid-home-about-span {
    grid-column: 4 / 4;
}

.grid-home-about-p {
    grid-column: 7 / 11;
}

.grid-home-text-tldr {
    grid-column: 3 / 3;
    justify-self: end;
}

.grid-navbar-theme-toggle {
    grid-column: 11 / 12;
}

.grid-work-description {
    grid-column: 1 / 5;
}

.grid-work-images {
    grid-column: 6 / 13;
}

.grid-work-header {
    grid-column: 8 / 12;
}

.grid-small {
    grid-column: 3 / 11;
}

.grid-smallest {
    grid-column: 2 / 12;
}

.grid-debug {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.grid-debug-item {
    background-color: rgba(236, 111, 111, 0.21);
}

@media (max-width: 1100px) {
    .grid-work-description {
        grid-column: 1 / 7;
    }

    .grid-home-text {
        grid-column: 1 / 8;
    }

    .grid-work-images {
        grid-column: 7 / 13;
    }
}

@media (max-width: 768px) {
    .heading-large {
        font-size: 50px;
        line-height: 60px;
    }

    .grid {
        grid-template-columns: repeat(6, 1fr);
    }

    .grid-home-text {
        grid-column: 2 / 6;
    }

    .grid-home-works {
        grid-column: 1 / 7;
    }

    .grid-home-about-h2 {
        grid-column: 1 / 13;
    }

    .grid-home-about-span {
        grid-column: 1 /1;
    }

    .grid-home-about-p {
        grid-column: 2 / 6;
    }

    .grid-debug {
        grid-template-columns: repeat(6, 1fr);
    }

    .grid-small {
        grid-column: 1 / 7;
    }

    .grid-work-header {
        grid-column: 1 / 7;
    }

    .grid-work-description {
        grid-column: 1 / 7
    }

    .grid-work-images {
        grid-column: 1 / 7
    }
}

@media (max-width: 640px) {
    :root {
        --medium: 20px;
    }

    .heading-regular {
        font-size: 19px;
    }

    .grid {
        grid-gap: 10px;
        padding: 0 20px;
    }

    .grid-debug {
        grid-gap: 10px;
        padding: 0 20px;
    }

    .grid-navbar-theme-toggle {
        grid-column: 6 / 7;
    }

    .grid-work-header {
        grid-column: 1 / 7;
    }
}

@media (max-width: 380px) {
    .heading-large {
        font-size: 38px;
        line-height: 50px;
    }

    .grid-home-text {
        grid-column: 1 / 7;
    }

    .grid-home-about-p {
        grid-column: 2 / 7;
    }
}