html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Century Gothic", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

body {
  background: var(--color-bg-primary);
  color: var(--color-text-primary);
  transition: background 0.25s ease-in-out;
}

.serif {
  font-family: Georgia, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.impact {
  font-family: "Bebas Neue", Haettenschweiler, Impact, "Arial Narrow Bold",
    sans-serif;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.uppercase {
  text-transform: uppercase;
}

li {
  list-style: none;
}

em {
  font-style: normal;
}

.cnt-404 {
  padding-top: 2rem;
  flex-direction: column;
  gap: 3rem;
}

:root {
  --text-black: #2e2e2e;
  --text-home-mobile: #2e2e2e;
  --text-white: #f8f8f8;
  --main-color: #d7f21d;

  --extremeFont: calc(1.3rem + 110vw);
  --largeFont: clamp(4rem, 17vw, 22rem);
  --largeFontHeight: clamp(4.5rem, 15vw, 19rem);
  --bigFont: clamp(3rem, 9.9vw, 9rem);
  --bigFontHeight: clamp(3rem, 9.9vw, 9rem);
  --bigFontTitle: clamp(4rem, 11vw, 14rem);
  --bigFontHeightTitle: clamp(2rem, 11vw, 9rem);
  --mediumFont: clamp(1.8rem, 2.5vw, 5rem);
  --smallFont: clamp(0.9rem, 0.75vw, 1.3rem);
  --smallFontHeight: clamp(1.2rem, 1.2vw, 2.7rem);
  --tinyFont: clamp(1rem, 1vw, 1rem);

  --impactBigLine: clamp(2.2rem, 6.3vw, 5.6rem);
  --impactLargeLine: clamp(2.2rem, 14vw, 12.6rem);

  --blogFont: clamp(1rem, 1vw, 1.3rem);
  --blogFontHeight: clamp(1.7rem, 1.65vw, 2.7rem);
  --blogFontMed: clamp(1.5rem, 1.5vw, 1.5rem);
  --blogFontMedHeight: clamp(1.2rem, 1.6vw, 2.7rem);
  --blogBigFont: clamp(5rem, 17vw, 22rem);
  --blogBigFontHeight: clamp(5rem, 17vw, 18rem);

  --marginTop: 9rem;

  --marginElementMin: 0.5rem;
  --marginElementLittle: 1rem;
  --marginElement: 1rem;
  --marginElementMedium: 4rem;
  --marginElementBlog: 10rem;
  --marginElementBig: 15rem;

  --marginLayoutLeftFirst: 50px;
  --marginLayoutLeftFirst2: 93px;
  --marginLayoutLeftSecond: 330px;
  --marginLayoutLeftSecond2: 398px;

  --marginLayoutRightFirst: 60px;
  --marginLayoutRightFirst2: 92px;
  --marginLayoutRightSecond: 165px;
  --marginLayoutRightSecond2: 400px;
  --marginLayoutRightThird: 330px;

  --marginSection: clamp(17rem, 24vw, 28rem);
}

@media screen and (max-width: 1500px) {
  :root {
    --marginLayoutLeftFirst: 50px;
    --marginLayoutLeftFirst2: 98px;
    --marginLayoutLeftSecond: 230px;
    --marginLayoutLeftSecond2: 310px;
  }
}

@media screen and (max-width: 1200px) {
  :root {
    --marginLayoutLeftFirst: 50px;
    --marginLayoutLeftFirst2: 98px;
    --marginLayoutLeftSecond: 230px;
    --marginLayoutLeftSecond2: 310px;
  }
}

body,
body[data-theme="light"] {
  --color-bg-primary: #ffffff;
  --color-bg-sec: #e4e4e4;
  --color-bg-sub: #000000;
  --case-studio-main-color: #2b2b2b;
  --color-text-primary: #000000;
  --color-text-sec: #3e3e3e;
  --color-text-home-mobile: #2e2e2e;
  --color-text-inverse: #ffffff;
  --color-bg-inverse: #0e0e0c;
}

body[data-theme="dark"] {
  --color-bg-primary: #000000;
  --color-bg-sec: #202020;
  --color-bg-sub: #ffffff;
  --color-text-primary: #f8f8f8;
  --case-studio-main-color: #d7f21d;
  --color-text-sec: #b6b6b6;
  --color-text-inverse: #0e0e0c;
  --color-text-home-mobile: #f8f8f8;
  --color-bg-inverse: #fafafa;
}

::-moz-selection {
  color: var(--main-color);
}
::selection {
  color: var(--main-color);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-bg-primary);
}

::-webkit-scrollbar-thumb {
  background: var(--color-text-primary);
}

.extreme-font {
  font-size: var(--extremeFont);
}

.large-font {
  font-size: var(--largeFont);
  line-height: var(--largeFontHeight);
}

.big-font {
  font-size: var(--bigFont);
  line-height: var(--bigFontHeight);
}

.medium-font {
  font-size: var(--mediumFont);
}

.small-font {
  line-height: var(--smallFontHeight);
  font-weight: 400;
  font-size: var(--smallFont);
}

p {
  font-weight: 400;
  font-size: var(--smallFont);
  line-height: var(--smallFontHeight);
}

.tiny-font {
  font-size: var(--tinyFont);
}

.desktop-mobile {
  display: block;
}

.mobile-video {
  display: none;
}

.desktop {
  display: block;
}

.mobile {
  display: none;
}

h1,
h2,
h3,
h4,
span,
h5,
button,
h6,
p,
label,
a,
li {
  font-size: var(--smallFont);
  font-weight: 400;
  color: var(--color-text-primary);
}

.btn-small {
  background: linear-gradient(
    to bottom,
    var(--color-text-primary) 0%,
    var(--color-text-primary) 100%
  );
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 0 100%;
  border: 1px solid var(--color-text-primary);
  padding: 3.8rem 2.4rem;
  border-radius: 50%;
  text-decoration: none;
  transition: background-size 0.4s, transform 0.4s, border 0.4s;
}

.btn-small:hover {
  border: 1px solid var(--color-bg-primary);
  color: var(--color-text-inverse);
  background-size: 100% 100%;
  background-position: left center;
}

.btn-small-2 {
  padding: 1.6vw 3.5vw;
}

.btn-small-3 {
  padding: 6vw 3vw;
}

.btn-4 {
  padding: 5.5vw 1vw;
}

.page-change-cnt {
  z-index: 999999;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

.page-change-col {
  height: 100vh;
  width: 100%;
  top: 0px;
  position: fixed;
  transform: translateY(-100%);
  background-color: var(--color-bg-inverse);
}

.bold {
  font-weight: 800;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.theme-toggle {
  cursor: pointer;
  font-size: 1.4rem;
  z-index: 9;
}

.regular {
  width: 12rem;
  height: 12rem;
}

.medium {
  width: 2rem;
  height: 2rem;
}

.small {
  width: 0.7rem;
  height: 0.7rem;
}

.secondary-cursor {
  z-index: 1000;
  border-radius: 50%;
  pointer-events: none;
  transform: translate3d(0, 0, 0);
  position: fixed;
  background: transparent;
  background-color: var(--main-color);
  transition: width 0.7s cubic-bezier(0.19, 1, 0.22, 1),
    height 0.7s cubic-bezier(0.19, 1, 0.22, 1);
  transform-origin: center;
  pointer-events: none;
}

@import "home.css";
@import "project-item.css";
@import "navbar.css";
@import "stuff-single.css";
@import "about.css";
@import "blog.css";
@import "footer.css";
@import "test.css";

.word-wrap {
  word-wrap: break-word;
}

.paragraph-block-outer {
  width: 100%;
  margin: var(--marginSection) 0;
}

.paragraph-block-inner {
  width: 50%;
}

.paragraph-block__link-text {
  margin-top: 13rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paragraph-block__link-text__p {
  padding-left: 20%;
}

.paragraph-block__link-text__p p {
  color: var(--color-text-sec);
}

@import "query.css";
