.loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-bg-primary);
  z-index: 9999999999;
}

.loader__header {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.loader__header em {
  animation-name: opacityLoader;
  opacity: 0;
  animation-delay: 4.5s;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-fill-mode: forwards;
}

.loader-sub-title {
  position: absolute;
  top: 30px;
  overflow: hidden;
  left: 40px;
  opacity: 0;
  line-height: 2rem;
  animation-name: loaderCopy;
  animation-delay: 1s;
  animation-duration: 5s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-fill-mode: forwards;
}

.overflow {
  overflow: hidden;
}

.loader-cnt {
  overflow: hidden;
  background-color: var(--color-bg-primary);
  height: 100vh;
  width: 99vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-title {
  overflow: hidden;
  font-family: "Cormorant Upright", serif, Georgia, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
}

@keyframes opacityLoader {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes loaderCopy {
  0% {
    opacity: 0;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.header__wrapper {
  min-height: 100vh;
  position: relative;
}

.home-header-cnt {
  position: fixed;
  top: 0;
  padding-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  margin: auto;
  overflow: hidden;
  z-index: 1;
  min-height: 100vh;
  flex-direction: column;
  gap: 3rem;
}

.title-1-cnt {
  width: 100%;
  padding-left: 24rem;
  display: flex;
  align-items: center;
}

.title-1-cnt p {
  width: 20%;
  color: var(--color-text-sec);
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-fill-mode: forwards;
  opacity: 0;
  animation-delay: 1s;
  margin-left: var(--marginElementMedium);
}

.title-2-cnt {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: flex-end;
  padding-right: 25rem;
}

.title-2-cnt em {
  padding-top: 2rem;
}

.title-link {
  margin-right: 5rem;
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-fill-mode: forwards;
  opacity: 0;
  animation-delay: 1s;
}

.title-1,
.title-2,
.title-3 {
  font-size: var(--bigFontTitle);
  line-height: var(--bigFontHeightTitle);
  text-transform: uppercase;
  font-family: "Cormorant Upright", serif, Georgia, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
  animation-name: fadeIn;
  animation-duration: 4s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-fill-mode: forwards;
  opacity: 0;
}

.title-1 {
  animation-delay: 0.1s;
}

.title-2 {
  animation-delay: 0.3s;
}

.title-3 {
  animation-delay: 0.5s;
}

.title-arrow {
  overflow: visible;
  stroke: var(--color-text-primary);
  stroke-linejoin: round;
  stroke-linecap: round;
  margin-left: 3rem;
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-fill-mode: forwards;
  opacity: 0;
  animation-delay: 1s;
}

.homepage-about-cnt {
  position: relative;
}

.homepage-about-img-cnt {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.homepage-about-img-cnt img {
  width: 70vw;
  height: auto;
  z-index: 1;
  filter: brightness(0.8);
}

.homepage-about-p-cnt {
  position: absolute;
  top: 8%;
  z-index: 2;
  gap: 3rem;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}

.homepage-about-p-cnt .about {
  width: 55%;
  color: var(--main-color);
}

.about-cnt {
  width: 50%;
}

.about-cnt h2 {
  color: rgb(255, 255, 255);
  padding-bottom: var(--marginElementLittle);
}

.about-cnt h3 {
  color: rgb(255, 255, 255);
}

.homepage-about-p-cnt p {
  color: rgb(255, 255, 255);
  width: 50%;
}

.homepage-about-link .btn-small {
  color: rgb(255, 255, 255);
  border: 1px solid white;
}

.homepage-about-link {
  transform: translate(-50%, -0%);
  position: absolute;
  top: 70%;
  left: 50%;
}

.scroll-container-outer {
  overflow: hidden;
}

.scroll-container {
  height: 100vh;
}

.scroll-section {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.scroll-section-2 {
  left: 100vw;
}

.scroll-section-3 {
  left: 200vw;
}

.box-cnt {
  overflow: hidden;
  display: flex;
  padding-top: var(--marginSection);
  background-color: var(--color-bg-primary);
  flex-direction: row;
  position: relative;
  height: 200vh;
  z-index: 3;
}

.box {
  top: 0;
  left: 0;
  height: 300vh;
  position: absolute;
  width: 100vw;
  z-index: 3;
}

.box1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  gap: 15rem;
  z-index: 3;
}

.box-image-title-cnt h2 {
  display: inline;
  bottom: 0;
  margin-bottom: 8rem;
  position: absolute;
  margin-left: -16vw;
}

.box-image-title-cnt img {
  height: 35vw;
  width: auto;
}

.box-info-cnt ul li {
  margin-top: 0.6rem;
}

.box-info-cnt a {
  display: inline-block;
  margin-top: 2rem;
}

.box-link-cnt {
  gap: 2rem;
  margin-top: 3rem;
}

.box-link-cnt {
  margin-top: 6.5rem;
}

.box2 {
  background-color: var(--color-bg-primary);
  left: 100vw;
  width: 102vw;
  z-index: 3;
}

.box3 {
  background-color: var(--color-bg-primary);
  left: 200vw;
  z-index: 3;
}

.box-image-cnt {
  width: 60%;
  padding-left: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-image-cnt img {
  width: 100%;
  height: auto;
}

.box-informations-cnt {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: right;
  justify-content: center;
}

.box-informations-cnt ul {
  margin-top: var(--marginElement);
}

.box__width {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.box-informations-cnt ul li {
  margin-top: var(--marginElementMin);
  color: var(--color-text-sec);
}

.box-informations-cnt .skewElem2 {
  text-transform: uppercase;
}

.box-informations-info-cnt {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.box-title {
  margin-top: var(--marginElementLittle);
  z-index: 5;
}

.box-cnt-2 {
  height: 100vh;
  background-color: var(--color-bg-primary);
  overflow: hidden;
  position: relative;
}

.caption__wrapper {
  width: 100%;
  height: 100%;
}

.caption-cnt {
  padding-top: var(--marginSection);
  text-transform: uppercase;
  padding-left: 83px;
  width: 70vw;
}

.description {
  width: 50%;
  position: absolute;
  left: -1000vw;
}

.inn-outer {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}