.loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-bg-primary);
  z-index: 9999999999;
}

.loader__header {
  position: relative;
  height: 8rem;
  width: 100%;
  overflow: hidden;
}

.loader__header em {
  animation-name: moveUp;
  opacity: 0;
  animation-duration: 5s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-fill-mode: forwards;
}

.loader-sub-title {
  position: absolute;
  top: 30px;
  overflow: hidden;
  left: 40px;
  opacity: 0;
  line-height: 2rem;
  animation-name: loaderCopy;
  animation-delay: 1s;
  animation-duration: 5s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-fill-mode: forwards;
}

.overflow {
  overflow: hidden;
}

.loader-cnt {
  overflow: hidden;
  background-color: var(--color-bg-primary);
  height: 100vh;
  width: 99vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-title {
  overflow: hidden;
  font-family: "Cormorant Upright", serif, Georgia, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
}

@keyframes moveUp {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes loaderCopy {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.final {
  display: block;
  top: -128px;
  position: relative;
  width: 90%;
  margin: 0 auto;
  z-index: -100;
}

.works-cnt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header__wrapper {
  min-height: 180vh;
  position: relative;
}

.home-header-cnt {
  position: fixed;
  top: -35%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
  min-height: 180vh;
  flex-direction: column;
  gap: 3rem;
}

.title-1-cnt {
  width: 100%;
  padding-left: 24rem;
  display: flex;
  align-items: center;
}

.title-1-cnt p {
  width: 20%;
  margin-left: var(--marginElementMedium);
}

.title-2-cnt {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: flex-end;
  padding-right: 25rem;
}

.title-2-cnt em {
  padding-top: 2rem;
}

.title-link {
  margin-right: 5rem;
}

.home-innovation-cnt {
  width: 100%;
}

.title-1,
.title-2,
.title-3 {
  font-size: var(--bigFontTitle);
  line-height: var(--bigFontHeightTitle);
  text-transform: uppercase;
  font-family: "Cormorant Upright", serif, Georgia, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
}

.title-arrow {
  overflow: visible;
  stroke: var(--color-text-primary);
  stroke-linejoin: round;
  stroke-linecap: round;
  margin-left: 3rem;
}

.model {
  width: 100vw;
  height: 100vh;
}

.initial-cnt {
  background-color: black;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 30;
}

/* ABOUT */
/* ABOUT */
/* ABOUT */

.homepage-about-cnt {
  padding: var(--marginSection) 0;
  position: relative;
  z-index: 2;
  background-color: var(--color-bg-primary);
}

.homepage-about-img-cnt {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.homepage-about-img-cnt img {
  width: 70vw;
  height: auto;
  z-index: 1;
  opacity: 0.6;
}

.homepage-about-p-cnt {
  position: absolute;
  top: 15%;
  z-index: 2;
  gap: 3rem;
  text-align: left;
  padding-top: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 4rem;
}

.homepage-about-p-cnt div {
  width: 50%;
  color: var(--main-color);
}

.about-cnt {
  padding-right: 3rem;
}

.about-cnt h2 {
  padding-bottom: var(--marginElementLittle);
}

.homepage-about-p-cnt p {
  width: 50%;
}
.box-informations-cnt ul {
  margin-left: auto;
  width: 82%;
}

.homepage-about-link {
  transform: translate(-50%, -0%);
  position: absolute;
  top: 70%;
  left: 50%;
}

.scroll-container-outer {
  overflow: hidden;
  background-color: var(--color-bg-primary);
  z-index: 4;
}

.scroll-container {
  position: relative;
  height: 100vh;
  background-color: var(--color-bg-primary);
  z-index: 4;
}

.scroll-section {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  gap: 15rem;
  background-color: var(--color-bg-primary);
  z-index: 4;
}

.scroll-section-1 {
}
.scroll-section-2 {
  background-color: var(--color-bg-primary);
  left: 100vw;
}
.scroll-section-3 {
  background-color: var(--color-bg-primary);
  left: 200vw;
}

.box-cnt {
  overflow: hidden;
  display: flex;
  padding-top: var(--marginSection);
  background-color: var(--color-bg-primary);
  flex-direction: row;
  position: relative;
  height: 300vh;
  z-index: 3;
}

.box {
  top: 0;
  left: 0;
  height: 300vh;
  position: absolute;
  width: 100vw;
  z-index: 3;
}

.box1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  gap: 15rem;
  z-index: 3;
}

.box-image-title-cnt h2 {
  display: inline;
  bottom: 0;
  margin-bottom: 8rem;
  position: absolute;
  margin-left: -16vw;
}

.box-image-title-cnt img {
  height: 35vw;
  width: auto;
}

.box-info-cnt ul li {
  margin-top: 0.6rem;
}

.box-info-cnt a {
  display: inline-block;
  margin-top: 2rem;
}

.box-link-cnt {
  gap: 2rem;
  margin-top: 3rem;
}

.box-subtitle {
  margin-bottom: 0.4rem;
}
.box-link-cnt {
  margin-top: 6.5rem;
}

.canvas-cnt {
  position: relative;
  margin-top: -12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  height: 130vh;
  background-color: var(--color-bg-inverse);
}

.canvas {
  height: 100%;
  width: 100%;
}

.box2 {
  background-color: var(--color-bg-primary);
  left: 100vw;
  width: 102vw;
  z-index: 3;
}

.box3 {
  background-color: var(--color-bg-primary);
  left: 200vw;
  z-index: 3;
}

.box-image-cnt {
  width: 45%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.box-image-cnt img {
  width: 100%;
  height: auto;
}

.box-informations-cnt {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: right;
  justify-content: center;
}

.box-informations-cnt ul {
  margin-top: var(--marginElement);
}
.box-informations-cnt ul li {
  margin-top: var(--marginElementLittle);
  color: var(--color-text-sec);
}

.box-informations-cnt .skewElem2 {
  text-transform: uppercase;
}

.box-informations-info-cnt {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.box-title {
  z-index: 5;
}

.box-cnt-2 {
  height: 100vh;
  background-color: var(--color-bg-primary);
  overflow: hidden;
  position: relative;
}

.box3-2 {
  background-color: var(--color-bg-primary);
  z-index: 1;
  height: 100vh;
  width: 100vw;
}

.home-play {
  margin-top: 10vw;
}

.box-fixed {
  position: fixed !important;
}
.caption__wrapper {
  position: relative;
  background-color: var(--color-bg-primary);
  z-index: 2;
  width: 100%;
  height: 100%;
}
.caption-cnt {
  padding-top: var(--marginSection);
  text-transform: uppercase;
  padding-left: 83px;
  width: 70vw;
}

.marquee-cnt {
  width: 120vw;
  margin-top: 14rem;
  overflow: hidden;
  padding-bottom: 8rem;
  transform: translateX(-30px);
}

.home__innnovation-inner {
  position: relative;
  height: 100vh;
  overflow: hidden;
  z-index: 5;
}

.home__innnovation {
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
}

.track-2 {
  background-color: transparent;
  position: absolute;
  white-space: nowrap;
}

.track-2 em {
  margin: 20px 0;
  color: rgba(245, 222, 179, 0);
  -webkit-text-stroke: 1px var(--color-text-inverse);
  text-transform: uppercase;
}

.footer-home-cnt {
  flex-direction: column;
  margin-top: var(--marginSection);
  height: 100vh;
  width: 100%;
  background-color: var(--color-bg-inverse);
}

.footer-home-cnt em {
  align-self: flex-start;
  color: var(--color-text-inverse);
}

.footer-single-cnt {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer-home-cnt a {
  color: var(--color-text-inverse);
}

.description {
  width: 50%;
  position: absolute;
  left: -1000vw;
}

.background-innovation {
  top: 0;
  left: 0;
  z-index: 3;
  position: absolute;
  background-color: var(--color-bg-inverse);
  width: 439px;
  height: 8.2rem;
}

.home-page .footer {
  display: none;
}
