.close-burger {
    z-index: 4056565656;
    cursor: pointer;
    font-size: 2rem;
    position: fixed;
    top: 14px;
    right: 20px;
}

.navbar-links-cnt {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    transform-origin: center center;
    position: fixed;
    left: 20px;
    top: 38%;
}

.link-global {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.navbar-links-cnt li {
    font-size: var(--tinyFont);
}

.overlay-burger-menu {
    position: fixed;
    transform: translateX(-100%);
    height: 100vh;
    background-color: var(--color-bg-inverse);
    color: var(--color-text-inverse);
    display: flex;
    flex-direction: row;
    width: 100%;
    z-index: 39;
}

.links-socials-cnt {
    width: 60%;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    gap: var(--marginElementLittle);
    justify-content: center;
}

.burger-menu-links-cnt {
    gap: 1rem;
    text-transform: uppercase;
}

.nav-social-cnt {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    color: var(--text-black);
}

.nav-social-cnt li a {
    color: var(--color-text-inverse);
}

.burger-menu-links-cnt li {
    text-align: left;
    color: var(--text-black);
}

.burger-menu-links-cnt li a {
    text-align: left;
    color: var(--color-text-inverse);
}

.text-inverse {
    color: var(--color-text-inverse);
}

.social a {
    color: var(--color-text-inverse);
}

.menu-line {
    width: 100%;
    height: 1px;
    background-color: var(--color-text-primary);
    transform-origin: center;
    transition: width 0.3s;
}

.navbar__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--marginElementLittle);
}

.menu-line-2 {
    width: 50%;
}

.navbar__logo-mobile {
    position: fixed;
    top: 1rem;
    z-index: 9999;
    left: 10px;
}

#logo {
    stroke: var(--color-text-primary);
}