.nav-dropdown-cnt span {
  cursor: pointer;
  z-index: 2;
}

.close-burger {
  z-index: 4056565656;
  cursor: pointer;
  font-size: 2rem;
  position: fixed;
  top: 14px;
  right: 20px;
}

.close-burger2 {
  cursor: pointer;
  font-size: 2rem;
  position: fixed;
  bottom: 14px;
  right: 33px;
  z-index: 3222222;
  transition: 0.4s ease-in-out;
}

.close-burger2:hover {
  transform: rotateZ(90deg);
}

.overlay-burger-menu {
  position: fixed;
  z-index: 4;
  width: 100vw;
  height: 100vh;
  background-color: var(--main-color);
  color: var(--color-text-inverse);
  clip-path: inset(0% 0 100% 0);
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 10vh 50px;
  transition: clip-path 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.close-nav {
  position: fixed;
  right: -26px;
  top: -26px;
  padding: 4.1rem;
  background-color: var(--color-bg-primary);
  border-radius: 32rem;
}

.lang-cnt2 {
  display: none !important;
}

.lang-cnt2 li {
  color: var(--text-black);
}

.btn-email {
  padding: 8.6rem 2.8rem !important;
  border: 1px solid var(--text-black) !important;
}

.burger-menu-info-cnt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding-right: 10vw;
  width: 40%;
}

.burger-menu-info-cnt a {
  color: var(--text-black);
}

.links-socials-cnt {
  width: 60%;
  padding-left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.burger-menu-links-cnt {
  gap: 1rem;
  text-transform: uppercase;
}

.nav-social-cnt {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 2rem;
  color: var(--text-black);
}

.button-nav {
  z-index: 999999;
  position: fixed;
  top: 20px;
  right: 20px;
  background: none;
  border: 0;
  cursor: pointer;
}

.button-nav path {
  stroke: var(--color-text-primary);
}

.nav-social-cnt li a {
  color: var(--text-black);
}

.burger-menu-links-cnt li {
  text-align: left;
  color: var(--text-black);
}

.burger-menu-links-cnt li a {
  text-align: left;
  color: var(--text-black);
}

.as-opened {
  clip-path: inset(0% 0 0% 0);
}

.overlay-burger-icon {
  right: 20px;
  top: 5px;
  position: fixed;
  z-index: 43;
  cursor: pointer;
  width: 48px;
  height: 48px;
  border: none;
  background: 0 0;
  will-change: transform;
  transition: transform 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.as-opened::after {
  transform: translate(-50%, -50%) rotate(45deg);
}

.as-opened::before {
  transform: translate(-50%, -50%) rotate(315deg);
}

.overlay-burger-icon::after,
.overlay-burger-icon::before {
  content: "";
  width: 48px;
  height: 2px;
  position: absolute;
  background-color: var(--color-text-primary);
  left: 50%;
  top: 50%;
  display: block;
  will-change: transform;
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.overlay-burger-icon::before {
  transform: translate(-50%, -5px) scaleY(0.7) rotate(180deg);
}

.overlay-burger-icon::after {
  transform: translate(-50%, 5px) scaleY(0.7) rotate(0);
}

.burger-menu-info-personal-cnt {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.text-inverse {
  color: var(--color-text-inverse);
}

.burger-menu-info-personal-cnt li {
  color: var(--color-text-inverse);
}

.burger-menu-info-social-cnt {
  margin-top: 1rem;
  gap: 2rem;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.burger-menu-info-cnt em {
  margin-top: 5rem;
  align-self: flex-start;
}

.social a {
  color: var(--color-text-inverse);
}

.nav-dropdown-cnt {
  z-index: 4;
  text-align: right;
  padding-bottom: 2rem;
  color: var(--color-text-primary);
  border-radius: 2rem;
  position: fixed;
  left: 20px;
  top: 20px;
}

.nav-dropdown {
  color: var(--color-bg-primary);
  border-radius: 2rem;
  position: fixed;
  text-align: left;
  left: 20px;
  top: 50px;
}

.nav-dropdown {
  text-transform: uppercase;
}

.footer-cnt {
  height: 100vh;
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.footer-name-cnt {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: auto;
}

.footer-name-cnt em {
  font-size: 20vw;
  display: block;
}

.footer-columns-cnt {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.footer-first-col-cnt {
  height: 100%;
  width: 45%;
  padding-left: 10vw;
  display: flex;
  flex-direction: column;
}

.footer-icon-cnt {
  display: flex;
  margin-top: auto;
  padding-bottom: 5rem;
  flex-wrap: wrap;
  gap: 1.9rem;
}

.footer-info {
  padding-bottom: 4rem;
}

.arrow-home {
  width: 100%;
  overflow: visible;
  stroke: var(--color-text-primary);
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-linecap: round;
  position: absolute;
  bottom: 13px;
  right: 0;
}

.footer-sec-col-cnt {
  height: 100%;
  width: 55%;
  bottom: 25px;
  position: absolute;
  right: 7px;
  display: flex;
}

.based {
  text-transform: lowercase;
}

.navbar-desktop {
  position: fixed;
  top: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navbar-desktop__first-list {
  display: flex;
  gap: 127px;
  margin-left: var(--marginLayout4);
}

.navbar-desktop__second-list {
  display: flex;
  gap: 60px;
  margin-right: var(--marginLayout3);
}
