.project-item-container {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 1.25;
  padding: 5px;
}

.title-item {
  position: relative;
}

.main-container ul {
  padding-top: 3rem;
  position: relative;
  padding-left: 3vw;
  box-sizing: border-box;
}

.main-container ul li {
  padding-bottom: 4rem;
}

.main-container ul li:last-of-type {
  padding-bottom: 0;
}

.project-item-container img {
  position: fixed;
  top: 5vh;
  left: 35vw;
  width: auto;
  height: clamp(400px, 20vw, 20vw);
  object-fit: cover;
  pointer-events: none;
  transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.menu-title {
  font-size: 8.5vw;
  text-transform: uppercase;
  z-index: 1;
  line-height: 1.1;
}

.info-block p {
  margin-right: 20vw;
  overflow: hidden;
  color: #999;
}

.info-block span {
  display: block;
  transition: all 0.25s ease-in-out;
}

.info-block-header {
  margin-bottom: 20px;
  color: black;
  font-weight: 400;
  font-size: 40px;
}

.menu-title span {
  display: flex;
  align-items: center;
}

.menu-title {
  text-transform: uppercase;
  z-index: 1;
  line-height: 1.1;
}

.clone {
  position: absolute;
  top: 0;
  pointer-events: none;
  color: var(--color-text-primary);
  clip-path: inset(0 100% 0 0);
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.title-item :not(.clone) {
  -webkit-text-stroke: 1px var(--color-text-primary);
  color: transparent;
}

.title-item :not(.clone):hover {
  cursor: pointer;
  color: var(--color-text-primary);
}
.title-item :not(.clone):hover ~ .clone {
  clip-path: inset(0 0 0 0);
}
