@media screen and (max-width: 1780px) {
  .canvas {
    padding-right: 13rem;
  }
}

@media screen and (max-width: 1500px) {
  .case-studio-description__second-column p {
    padding-right: 15rem;
  }

  .canvas {
    padding-right: 16rem;
  }
  .case-studio-header__first-row a {
    margin-right: 116px;
  }
  .arrow-home {
    padding-left: 0;
    padding-right: 3vw;
  }
  .title-1-cnt {
    padding-left: 18rem;
  }
}

@media screen and (max-width: 1200px) {
  :root {
    --marginLayoutLeftFirst: 50px;
    --marginLayoutLeftFirst2: 98px;
    --marginLayoutLeftSecond: 230px;
    --marginLayoutLeftSecond2: 310px;
  }

  .case-studio-header__first-row {
    padding-left: var(--marginElementLittle);
  }

  .case-studio-header__second-row {
    flex-direction: column;
    padding-left: var(--marginElementLittle);
    margin-top: var(--marginElementMedium);
  }

  .case-studio-header__second-row__image {
    width: 100%;
    margin-bottom: var(--marginElementMedium);
    margin-top: var(--marginElementMedium);
  }

  .title-2-cnt {
    padding-right: 15rem;
    padding-top: 1.5rem;
  }

  .title-2-cnt em {
    padding-top: 1rem;
  }

  .home-header-cnt {
    gap: 0rem;
  }

  .case-studio-description__first-column {
    padding-left: 100px;
  }

  .footer-counter-inner {
    padding: 0 var(--marginElementBig);
  }

  .blogpost__article-body {
    width: 45%;
  }
  .blogpost__excerpt {
    left: var(--marginLayoutLeftFirst2);
  }

  .blogpost__title {
    margin-left: var(--marginLayoutLeftFirst2);
    padding-right: 30%;
    padding-bottom: var(--marginSection);
  }
  .case-studio-description__second-column p {
    padding-right: 6.5rem;
  }

  .homepage-about-p-cnt {
    top: 8%;
  }

  .about__absolute-right {
    right: 0%;
    width: 25%;
    height: auto;
  }

  .about__roadmap__copy {
    width: 30%;
  }
}

@media screen and (max-width: 1158px) {
  .btn-small-2 {
    padding: 1.6vw 3vw !important;
  }

  .case-studio__screen-image {
    padding: 0 10rem;
  }

  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }

  .btn-email {
    padding: 8.6rem 3.5rem !important;
  }

  .box1 {
    justify-content: center;
    gap: 5rem;
  }
}

@media screen and (max-width: 948px) {
  .btn-small-2 {
    padding: 2.6vw 2.9vw !important;
  }

  .footer-counter-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--marginElementMedium);
    min-height: 100vh;
    padding: 0;
  }

  .title-1-cnt {
    padding-left: 0;
    justify-content: center;
  }

  .title-2-cnt {
    padding-right: 0;
    justify-content: center;
  }

  .canvas-cnt-home {
    display: none;
  }

  .innovation-cnt-home {
    display: block !important;
  }

  .btn-email {
    padding: 8.6rem 3.9rem !important;
  }
}

@media screen and (max-width: 400px) {
  .btn-small-2 {
    padding: 41px 18px !important;
  }
  .btn-small {
    padding: 41px 18px !important;
  }
  .btn-icon {
    padding: 1.4rem 1.4rem !important;
  }
}

@media screen and (max-width: 768px) {
  .large-font {
    font-size: var(--largeFont);
    line-height: 19vw !important;
  }

  .case-studio__screen-image {
    padding: 0 5rem;
  }

  .blog__posts-single {
    width: 80%;
    height: fit-content;
  }

  .blog__posts-single img {
    height: 40%;
  }
  .blogpost__title {
    margin-left: 10px;
    padding-right: 40%;
  }

  .about__absolute-left {
    left: 10%;
  }

  .about__roadmap__copy {
    width: 40%;
  }

  .lang-cnt2 {
    margin-bottom: 2rem;
  }

  .lang-cnt2 li a {
    color: var(--color-text-inverse);
  }

  .case-studio__screen-video {
    padding: 0 10rem;
  }

  .footer {
    flex-direction: column;
  }

  .footer__first-col {
    width: 100%;
  }

  .box-image-cnt img {
    width: 50%;
  }

  .footer__icon {
    width: 50%;
    align-self: flex-start;
  }

  .case-studio-header__first-row {
    flex-direction: column;
    align-items: flex-start;
  }

  .case-studio-header__link {
    margin-top: var(--marginElementMedium);
  }

  .footer__first-col div {
    width: 50%;
  }

  .footer__second-col {
    width: 100%;
    background-color: var(--color-bg-primary);
  }

  .footer__second-col-form {
    margin-top: var(--marginElementMedium);
  }

  .case-studio-description {
    gap: var(--marginElementMedium);
    width: 100%;
    flex-direction: column;
  }

  .case-studio-description__first-column {
    width: 100%;
    padding-right: 0;
    padding-left: 100px;
  }

  .case-studio-description__second-column {
    width: 100%;
    padding-left: 100px;
  }

  .title-1-cnt p {
    display: none;
  }

  .impact {
    font-family: "Bebas Neue", Haettenschweiler, Impact, "Arial Narrow Bold",
      sans-serif !important;
  }

  .btn-small-2 {
    padding: 5.6vw 3.9vw !important;
  }

  .homepage-about-cnt {
    margin-top: 0rem;
  }

  .homepage-about-img-cnt img {
    width: 70vw;
  }

  .homepage-about-link {
    left: 50%;
    position: relative;
    display: flex;
    margin-top: 3rem;
    justify-content: center;
  }

  .homepage-about-p-cnt .about {
    width: 55%;
  }

  .btn-small-3 {
    padding: 10vw 1vw !important;
  }

  .footer__first-row {
    flex-direction: column;
  }

  .title-link {
    margin-right: 2rem;
  }

  .about-main-cnt {
    padding-bottom: 22rem;
    flex-direction: column;
    justify-content: center;
    margin-top: 0;
    align-items: center;
  }

  .footer__name img {
    display: none;
  }

  .footer__form-name-object {
    gap: var(--marginElement);
  }

  .footer__form-name-object div {
    width: 100%;
  }

  .footer__form input {
    width: 100%;
  }

  .footer__label {
    margin-top: var(--marginElement);
  }

  .about-main-works-cnt p {
    text-align: center;
  }

  .cnt-model {
    height: 40%;
    width: 70%;
    top: 0;
  }

  .case-studio__caption {
    margin-left: 0;
  }

  .article-content-cnt div {
    width: 70%;
  }

  .article-content-cnt {
    width: 80%;
    margin-left: 7vw;
  }

  .post-card-cnt {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 10rem;
  }

  .post-quick-info {
    gap: 1rem;
    flex-wrap: wrap;
  }
  .post-card-info-cnt {
    width: 80%;
    padding-right: 0;
  }

  .box-informations-cnt {
    align-items: flex-start;
  }

  .about-title-cnt {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title-arrow {
    width: 50px;
    height: 50px;
  }

  .about {
    flex-direction: column;
    gap: 2rem;
  }

  .menu {
    right: 15px;
  }

  .navbar-desktop {
    display: none;
  }

  .homepage-about-p-cnt p {
    width: 100%;
  }

  .climax {
    width: 50%;
  }

  .overlay-burger-menu {
    padding-left: 3rem;
    width: 100%;
  }

  .blogpost__article-body {
    width: 75%;
  }

  .post-card-img-cnt {
    margin-top: 6.4rem;
  }

  .links-socials-cnt {
    width: 100%;
  }

  .box__width {
    width: 70%;
  }

  .title-2-cnt em {
    padding-top: 2rem;
  }

  .btn-4 {
    padding: 8vw 1vw !important;
  }
  .burger-menu-links-cnt {
    gap: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .burger-menu-links-cnt li a {
    font-size: var(--bigFont);
  }

  .homepage-about-p-cnt {
    padding-top: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .burger-menu-info-cnt {
    display: none;
  }
}

@media screen and (max-width: 490px) {
  .post-cnt {
    padding: 0 1rem;
  }
  .desktop {
    display: none !important;
  }

  .mobile {
    display: block;
  }

  .footer__first-col div {
    display: none;
  }

  .case-studio-description-first {
    margin-top: 0;
  }

  .about-cnt {
    padding-right: 0;
  }

  .title-2-cnt em {
    padding-top: 0;
  }

  .blogpost__article-body {
    width: 90%;
  }
  .footer-name-cnt {
    padding-bottom: 4rem;
  }

  .about__absolute-right {
    display: none;
  }

  .about__roadmap__copy {
    width: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .close-burger2 {
    right: 5px;
  }
  .blogpost__excerpt {
    left: 20px;
    width: 50%;
  }
  .title-arrow {
    margin-left: 1.5rem;
  }

  .home-header-cnt {
    gap: 3rem;
  }
  .about__roadmap__copy-link {
    margin-top: 4rem;
  }
  .absolute-small {
    display: none;
    position: absolute;
    bottom: -269px;
    right: -85px;
  }

  .spacer-small {
    height: 50px;
  }

  .about__container h2,
  .about__container h3,
  .about__container span {
    font-size: var(--mediumFont);
    line-height: var(--mediumFontHeight);
  }

  .mobile {
    display: block !important;
  }

  .homepage-about-sub-cnt img {
    height: fit-content;
    margin-bottom: 4rem;
  }

  .box-image-cnt {
    width: 60%;
    height: 50%;
  }
  .box-subtitle {
    margin-bottom: 1rem;
  }

  .btn-big {
    padding: 6.1rem 2.8rem !important;
  }

  .info-sticky {
    display: none;
  }

  .climax-website-margin {
    margin-top: 0;
  }

  .climax-website li picture {
    width: 100%;
  }

  .climax-website {
    flex-direction: column;
    gap: 9rem;
  }

  .climax-website-2 {
    display: none;
  }

  .arrow-home {
    width: 75%;
    padding-bottom: 2rem;
  }

  .box-link-cnt {
    margin-top: 1rem;
  }

  .lang-cnt {
    z-index: 99;
    display: flex;
    gap: 0.6rem;
    position: fixed;
  }

  .title-image {
    display: none;
  }

  .title-2-cnt {
    padding-top: 0;
    margin-left: 0rem;
  }

  .cursor-wrapper {
    display: none;
  }

  .homepage-about-link {
    position: relative;
    left: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 6rem;
  }

  .homepage-about-img-cnt img {
    width: 80vw;
  }

  .homepage-about-p-cnt h2 {
    width: 100%;
  }

  .homepage-about-p-cnt {
    position: relative;
  }

  .homepage-about-p-cnt div {
    width: 80%;
  }

  .marquee-innovation {
    margin-top: 24rem;
  }
  .marquee-innovation em {
    font-size: var(--extremeFont);
  }

  .btn-small-3 {
    padding: 15vw 2vw !important;
  }

  .marquee-cnt {
    width: 140vw;
    margin-top: 0rem;
    height: 100vh;
  }

  .article-content-cnt {
    width: 100%;
    margin-left: 0vw;
  }

  .post-cnt h1 {
    text-transform: uppercase;
    padding-top: 4rem;
    padding-right: 12vw;
    margin-bottom: 5rem;
  }

  .about-title-cnt {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .stuff-s-header-image-cnt img {
    width: 80vw;
    height: auto;
  }

  .lang-cnt2 {
    display: flex !important;
    margin-top: 2rem;
  }

  .climax {
    width: 80%;
  }
  .climax-website-2 {
    margin-top: 0rem;
  }

  .falling-action-cnt {
    width: 80%;
  }
  .info-block {
    display: none;
  }

  .marquee {
    margin-top: 13rem;
  }

  .track em {
    font-size: var(--largeFont);
  }
  .menu-title {
    font-size: var(--largeFont);
  }

  .footer {
    padding-left: 10px;
    justify-content: center;
  }

  .main-container ul li {
    padding-bottom: 0rem;
  }

  .scroll-section-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0;
    height: 130vh;
    align-items: center;
    z-index: 3;
  }

  .scroll-section-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0;
    height: 130vh;
    align-items: center;
    z-index: 3;
  }

  .scroll-section-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 130vh;
    gap: 0;
    align-items: center;
    z-index: 3;
  }

  .box-image-cnt img {
    width: 100%;
    height: auto;
  }

  .lang-cnt {
    display: none !important;
  }
  .footer__second-col ul {
    flex-direction: column;
    margin-top: var(--marginElementMedium);
  }

  .box-informations-cnt {
    width: 80%;
    height: 50%;
    justify-content: flex-start;
  }

  .homepage-about-p-cnt .about {
    width: 80%;
  }

  .box-informations-info-cnt {
    flex-wrap: wrap;
  }

  .menu-mobile {
    z-index: 999999;
    flex-direction: column;
  }
  .progress-cnt {
    bottom: -10px !important;
  }
  .burger-menu-info-cnt {
    width: 100%;
    margin-top: 0rem;
  }

  .case-studio-description__first-column {
    padding-left: var(--marginElementLittle);
  }

  .case-studio-header__second-row__first-list {
    flex-direction: column;
    gap: var(--marginElementMedium);
    width: auto;
  }

  .case-studio-description__second-column {
    width: 100%;
    padding-left: var(--marginElementLittle);
  }

  .case-studio-description__second-column p {
    padding-right: var(--marginElementLittle);
  }

  .box-link-cnt .btn-small {
    display: none;
  }

  .case-studio__screen-image {
    padding: 0 1rem;
  }

  .case-studio__screen-video {
    padding: 0 5rem;
  }

  .blog-posts-cnt {
    padding: 0 0rem;
  }

  .post-card-img-cnt {
    width: 90vw;
    height: auto;
  }

  .post-cnt h1 {
    margin-top: 3rem;
  }

  .categories-dropdown-cnt {
    left: 0;
    right: 20px;
    margin-left: 21px;
    top: 60px;
  }

  .box__width {
    width: 100%;
  }

  .box__width ul {
    padding-left: 3rem;
  }

  .social-mobile-cnt li {
    color: var(--color-text-inverse);
  }

  .burger-menu-links-cnt {
    gap: 1rem;
  }

  .social-mobile-cnt {
    width: 100%;
  }

  .social-mobile {
    display: flex;
    justify-content: space-between;
  }

  .large-font {
    font-size: var(--largeFont);
    line-height: 96% !important;
  }

  .author-card {
    flex-direction: column;
  }

  .title-item {
    margin-bottom: 2.8rem;
  }

  .project-item-container .ideology-image {
    margin-top: -15rem;
    width: 20px;
  }

  .project-item-container .bionatur-image {
    margin-top: 16rem;
    width: 20px;
  }

  .project-item-container .base-image {
    margin-top: 31rem;
    width: 20px;
  }
  .project-item-container .mabu-image {
    margin-top: 31rem;
    width: 20px;
  }

  .article-content-cnt div {
    width: 80%;
  }

  .loader-sub-title {
    display: none;
  }

  .about {
    width: 74%;
  }

  .about-main-works-cnt {
    width: 90%;
  }

  .indent {
    text-indent: 15vw !important;
  }

  .about-presentation-cnt p {
    text-align: right;
    padding-right: 0;
  }

  .homepage-about-p-cnt h2 {
    color: var(--color-text-home-mobile);
  }
  .homepage-about-p-cnt p {
    color: var(--color-text-home-mobile);
  }

  .about-2 ul {
    padding: 0;
    text-align: right;
  }

  .project-item-container img {
    width: 1px !important;
    padding: 0;
  }

  .nav-dropdown-cnt {
    padding: 2rem;
    left: 0;
    top: 0;
  }

  .links-socials-cnt {
    padding: 20px;
  }

  .caption-cnt {
    width: 90vw;
    padding-left: 10px;
  }

  .project-item-container img {
    display: none;
  }

  .credits-cnt h3 {
    font-size: var(--bigFont);
  }

  .nav-dropdown-cnt ul {
    margin-top: 1.2rem;
    margin-left: 0.7rem;
  }

  .btn-4 {
    padding: 12vw 1vw !important;
  }
  .nav-dropdown-cnt {
    display: none;
  }
}
