@media screen and (max-width: 1500px) {
  .case-studio-description__second-column p {
    padding-right: 15rem;
  }

  .title-1-cnt {
    padding-left: 18rem;
  }
}

@media screen and (max-width: 1230px) {
  .cs__desc-outer {
    padding-left: var(--marginLayoutLeftFirst2);
    padding-right: var(--marginLayoutRightFirst2);
  }

  .title-2-cnt {
    padding-right: 15rem;
    padding-top: 1.5rem;
  }

  .box__width {
    width: 70%;
  }

  .title-2-cnt em {
    padding-top: 1rem;
  }

  .home-header-cnt {
    gap: 0rem;
  }

  .case-studio-description__first-column {
    padding-left: 100px;
  }

  .footer-counter-inner {
    padding: 0 var(--marginElementBig);
  }

  .blogpost__article-body {
    width: 45%;
  }

  .blogpost__excerpt {
    left: var(--marginLayoutLeftFirst2);
  }

  .blogpost__title {
    margin-left: var(--marginLayoutLeftFirst2);
    padding-right: 30%;
    padding-bottom: var(--marginSection);
  }

  .case-studio-description__second-column p {
    padding-right: 6.5rem;
  }

  .homepage-about-p-cnt {
    top: 8%;
  }

  .about__absolute-right {
    right: 0%;
    width: 25%;
    height: auto;
  }

  .about__roadmap__copy {
    width: 30%;
  }

  .btn-small-2 {
    padding: 1.6vw 3vw !important;
  }

  .case-studio__screen-image {
    padding: 0 10rem;
  }

  .btn-email {
    padding: 8.6rem 3.5rem !important;
  }

  .box1 {
    justify-content: center;
    gap: 5rem;
  }

  .btn-small-3 {
    padding: 6vw 3vw !important;
  }

  .paragraph-block-inner {
    width: 60% !important;
  }

  .paragraph-block__link-text {
    margin-top: 9rem !important;
  }
}

@media screen and (max-width: 948px) {
  .btn-small-2 {
    padding: 2.6vw 2.9vw !important;
  }

  .desktop-video {
    display: none !important;
  }

  .mobile-video {
    display: flex !important;
  }

  .home__innovation-outer {
    background-color: var(--color-bg-primary);
  }

  .cs__video-inner video {
    z-index: 2;
    width: 100%;
    height: 100%;
  }

  .footer-counter-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0;
    position: relative;
  }

  .footer-counter__contact {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
  }

  .footer__icon {
    justify-content: center;
    padding-bottom: var(--marginElementLittle);
  }

  .title-1-cnt {
    padding-left: 0;
    justify-content: center;
  }

  .title-2-cnt {
    padding-right: 0;
    justify-content: center;
  }
}

@media screen and (max-width: 770px) {
  .large-font {
    font-size: var(--largeFont);
    line-height: 19vw !important;
  }

  .case-studio__screen-image {
    padding: 0 5rem;
  }

  .blog__posts-single {
    width: 80%;
    height: fit-content;
  }

  .blog__posts-single img {
    height: 40%;
  }

  .blogpost__title {
    margin-left: 10px;
    padding-right: 40%;
  }

  .about__roadmap__copy {
    width: 40%;
  }

  .lang-cnt li a {
    color: var(--color-text-inverse);
  }

  .box-image-cnt {
    padding-left: 0;
  }

  .box-image-cnt img {
    width: 50%;
  }

  .about__header {
    width: 90%;
    padding-left: 30px;
  }

  .case-studio-description {
    gap: var(--marginElementLittle);
    width: 90%;
    flex-direction: column;
  }

  .case-studio-description__first-column {
    width: 100%;
    padding-right: 0;
    padding-left: 100px;
  }

  .case-studio-description__second-column {
    width: 100%;
    padding-left: 100px;
  }

  .title-1-cnt p {
    display: none;
  }

  .impact {
    font-family: "Bebas Neue", Haettenschweiler, Impact, "Arial Narrow Bold",
      sans-serif !important;
  }

  .btn-small-2 {
    padding: 5.6vw 3.9vw !important;
  }

  .homepage-about-cnt {
    margin-top: 0;
  }

  .homepage-about-img-cnt img {
    width: 70vw;
  }

  .homepage-about-link {
    left: 50%;
    position: relative;
    display: flex;
    margin-top: 3rem;
    justify-content: center;
  }

  .homepage-about-p-cnt .about {
    width: 55%;
  }

  .footer__first-row {
    flex-direction: column;
  }

  .title-link {
    margin-right: 2rem;
  }

  .about-main-cnt {
    padding-bottom: 22rem;
    flex-direction: column;
    justify-content: center;
    margin-top: 0;
    align-items: center;
  }
  .about h2,
  h3,
  p,
  .btn-small {
    color: var(--color-text-primary);
  }

  .about-cnt {
    width: 100%;
  }

  .about-cnt h3 {
    color: var(--color-text-primary);
  }

  .homepage-about-p-cnt p {
    color: var(--color-text-primary);
    width: 50%;
  }

  .homepage-about-link .btn-small {
    color: var(--color-text-primary);
    border: 1px solid var(--color-text-primary);
  }
  .desktop {
    display: none !important;
  }

  .mobile {
    display: block !important;
  }

  .case-studio__caption {
    margin-left: 0;
  }

  .box-informations-cnt {
    align-items: flex-start;
  }

  .title-arrow {
    width: 50px;
    height: 50px;
  }

  .about {
    flex-direction: column;
    gap: 2rem;
  }

  .menu {
    right: 15px;
  }

  .navbar-desktop {
    display: none;
  }

  .homepage-about-p-cnt p {
    width: 100%;
  }

  .climax {
    width: 50%;
  }

  .overlay-burger-menu {
    padding-left: 3rem;
    width: 100%;
  }

  .blogpost__article-body {
    width: 75%;
  }

  .links-socials-cnt {
    width: 100%;
  }

  .box__width {
    width: 70%;
  }

  .title-2-cnt em {
    padding-top: 2rem;
  }

  .btn-4 {
    padding: 8vw 1vw !important;
  }

  .burger-menu-links-cnt {
    gap: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .cs__video-h2 {
    padding: 0 30%;
  }

  .burger-menu-links-cnt li a {
    font-size: var(--bigFont);
  }

  .homepage-about-p-cnt {
    padding-top: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn-small-3 {
    padding: 7vw 3vw !important;
  }

  .paragraph-block-inner {
    width: 60% !important;
  }

  .paragraph-block__link-text {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start !important;
    margin-top: 6rem !important;
  }

  .paragraph-block__link-text__p {
    padding-left: 0 !important;
    margin-bottom: 5rem;
  }
}

@media screen and (max-width: 490px) {
  .cs__video-inner video {
    z-index: 2;
    width: 100%;
    height: auto;
  }

  .cs__video-h1 h1 {
    text-align: center;
    padding: 0 6%;
  }

  .about-cnt {
    padding-right: 0;
  }

  .margin-top {
    margin-top: 0;
  }

  .blogpost__article-body {
    width: 90%;
  }

  .about__absolute-right {
    display: none;
  }

  .about__roadmap__copy {
    width: 70%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .blogpost__excerpt {
    left: 20px;
    width: 50%;
  }

  .title-arrow {
    margin-left: 1.5rem;
  }

  .btn-small-2 {
    padding: 8vw 4.5vw !important;
  }

  .about__absolute-left {
    transform: translate(-50%, -50%);
    left: 50%;
  }

  .home-header-cnt {
    gap: 1rem;
  }

  .about__roadmap__copy-link {
    margin-top: 5.5rem;
  }

  .spacer-small {
    height: 50px;
  }

  .about__container h2,
  .about__container h3,
  .about__container span {
    font-size: var(--mediumFont);
    line-height: var(--mediumFontHeight);
  }

  .homepage-about-sub-cnt img {
    height: fit-content;
    margin-bottom: 4rem;
  }

  .box-image-cnt {
    width: 60%;
    height: 10%;
  }

  .btn-big {
    padding: 6.1rem 2.8rem !important;
  }

  .climax-website-margin {
    margin-top: 0;
  }

  .cs__desc-inner {
    display: flex;
    justify-content: center;
  }

  .climax-website li picture {
    width: 100%;
  }

  .climax-website {
    flex-direction: column;
    gap: 9rem;
  }

  .climax-website-2 {
    display: none;
  }

  .box-link-cnt {
    margin-top: 1rem;
  }

  .header__wrapper {
    position: relative;
  }

  .lang-cnt {
    display: flex;
    flex-direction: row;
    z-index: 99;
    gap: 0.6rem;
  }

  .cta-hero-home {
    position: absolute;
    right: 0;
    top: 0;
  }

  .title-image {
    display: none;
  }

  .title-2-cnt {
    padding-top: 0;
    padding-bottom: 1rem;
    margin-left: 0rem;
  }

  .cursor-wrapper {
    display: none;
  }

  .homepage-about-link {
    position: relative;
    left: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 6rem;
  }

  .homepage-about-img-cnt img {
    width: 80vw;
  }

  .homepage-about-p-cnt h2 {
    width: 100%;
  }

  .homepage-about-p-cnt {
    position: relative;
  }

  .homepage-about-cnt {
    margin-bottom: var(--marginSection);
  }

  .btn-small-3 {
    padding: 15vw 2vw !important;
  }

  .btn-small-3 {
    padding: 13vw 3vw !important;
  }

  .paragraph-block-inner {
    width: 80% !important;
  }

  .paragraph-block__link-text {
    margin-top: 3rem !important;
  }

  .paragraph-block__link-text__p {
    margin-bottom: 6rem !important;
  }

  .climax {
    width: 80%;
  }

  .cs__desc-text-mask {
    height: 103%;
  }

  .climax-website-2 {
    margin-top: 0rem;
  }

  .cs__desc-outer {
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .cs__desc-image {
    display: none !important;
  }

  .cs__desc-text-wrapper {
    width: 80%;
  }

  .theme-toggle {
    position: fixed;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 2rem;
    z-index: 9999;
  }

  .paragraph-block-outer-first {
    margin-top: 8% !important;
  }

  .cs__desc-text li {
    left: 50px;
  }

  .info-block {
    display: none;
  }

  .marquee {
    margin-top: 13rem;
  }

  .menu-title {
    font-size: var(--largeFont);
  }

  .main-container ul li {
    padding-bottom: 0rem;
  }

  .scroll-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0;
    height: 100vh;
    align-items: center;
    z-index: 3;
  }

  .box-image-cnt img {
    width: 100%;
    height: auto;
  }

  .box-informations-cnt {
    width: 60%;
    margin-top: var(--marginElementMedium);
    height: 50%;
    justify-content: flex-start;
    text-align: left;
  }

  .homepage-about-p-cnt .about {
    width: 80%;
  }

  .box-informations-info-cnt {
    flex-wrap: wrap;
  }

  .case-studio-description__first-column {
    padding-left: var(--marginElementLittle);
  }

  .case-studio-description__second-column {
    width: 100%;
    padding-left: var(--marginElementLittle);
  }

  .case-studio-description__second-column p {
    padding-right: var(--marginElementLittle);
  }

  .box-link-cnt .btn-small {
    position: absolute;
    bottom: 30px;
    right: 30px;
  }

  .case-studio__screen-image {
    padding: 0 1rem;
  }

  .box__width {
    width: 100%;
  }

  .burger-menu-links-cnt {
    gap: 1rem;
  }

  .large-font {
    font-size: var(--largeFont);
    line-height: 96% !important;
  }

  .title-item {
    margin-bottom: 2.8rem;
  }

  .loader-sub-title {
    left: 10px;
  }

  .about {
    width: 74%;
  }

  .about-presentation-cnt p {
    text-align: right;
    padding-right: 0;
  }

  .homepage-about-p-cnt h2 {
    color: var(--color-text-home-mobile);
  }

  .homepage-about-p-cnt p {
    color: var(--color-text-home-mobile);
  }

  .project-item-container img {
    width: 1px !important;
    padding: 0;
  }

  .links-socials-cnt {
    padding: 20px;
  }

  .caption-cnt {
    width: 90vw;
    padding-left: 10px;
  }

  .project-item-container img {
    display: none;
  }

  .btn-4 {
    padding: 18vw 3vw !important;
  }
}
