.climax-website-cnt {
  margin-top: var(--marginSection);
  display: flex;
  flex-direction: column;
}

.climax-website {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.climax-website li {
  flex: 1 1 33%;
}

.climax-website li picture {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.climax-website li picture img {
  width: 70%;
  height: 100%;
  object-fit: contain;
}

.climax-website-2 {
  margin-top: 6rem;
}

.marquee {
  position: relative;
  margin-bottom: 18vw;
  height: 300px;
  overflow: hidden;
  margin-top: var(--marginSection);
}

.marquee em {
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  top: 0;
  left: 0;
  text-transform: uppercase;
  animation: marqueescroll 350s linear 0s infinite;
}

.project-item-container .ideology-image {
  margin-top: -1rem;
  z-index: 99;
}

.bionatur-image {
  margin-top: 37rem;
  z-index: 99;
}

.mabu-image {
  margin-top: 23rem;
  z-index: 99;
}

.base-image {
  margin-top: 59rem;
  z-index: 99;
}

.negozio-image {
  z-index: 99;
  margin-top: 79rem;
}

.area-image {
  z-index: 99;
  margin-top: 99rem;
}

.mizzica-image {
  z-index: 99;
  margin-top: 119rem;
}

.ops-image {
  z-index: 99;
  margin-top: 138rem;
}

.bottone-image {
  z-index: 99;
  margin-top: 148rem;
}

.v-lex-image {
  z-index: 99;
  margin-top: 169rem;
}

.rapinzeri-image {
  z-index: 99;
  margin-top: 185rem;
}

.viagiatori-image {
  z-index: 99;
  margin-top: 208rem;
}

.elettrico-image {
  z-index: 99;
  margin-top: 226rem;
}

.remax-image {
  z-index: 99;
  margin-top: -18rem;
}

.line-4 {
  margin-top: 4rem;
}

.case-studio__caption {
  margin-bottom: var(--marginSection);
  text-transform: uppercase;
  margin-left: 83px;
  width: 70vw;
}

.case-studio-description {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: var(--marginSection) 0;
}

.case-studio-description__first-column {
  width: 50%;
  padding-right: 4rem;
  padding-left: var(--marginLayoutLeftSecond2);
}

.case-studio-description__first-column h3 {
  font-weight: 800;
  margin-top: var(--marginElement);
}

.case-studio-description__second-column {
  width: 50%;
  display: flex;
  align-items: center;
}

.case-studio-description__second-column p {
  padding-right: 26.2rem;
  color: var(--color-text-sec);
}
.case-studio__screen-image {
  width: 100%;
  padding: 0 var(--marginLayoutRightSecond2);
}
.case-studio__screen-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.suv-first-section {
  min-height: 2200px;
}

.case-studio__images .case-studio__screen-image {
  margin-bottom: var(--marginElementMedium);
}

.cs__gallery-main-image {
  width: 99vw;
  background-color: rgb(116, 116, 193);
}

.cs__gallery-main-image image {
  width: 100%;
}

.cs__video-inner {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cs__video-h1 {
  z-index: 8;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  justify-content: center;
}

.cs__video-h1 h1 {
  color: var(--text-white);
}

.cs__video-h2 {
  top: 20%;
  z-index: 3;
}

.cs__video-inner video {
  z-index: 2;
  width: auto;
  height: 100%;
}

.cs__video-cnt {
  transform-origin: 50% 80%;
  z-index: 4;
  filter: brightness(0.4);
  width: 100%;
  height: 100%;
}

.cs__video-cnt .desktop-video,
.mobile-video {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cs__desc-outer {
  margin-top: var(--marginSection);
  height: 100vh;
  display: flex;
  align-items: center;
  padding-left: var(--marginLayoutLeftSecond2);
  padding-right: var(--marginLayoutRightFirst2);
}

.cs__desc-inner {
  display: flex;
  align-items: center;
  gap: var(--marginElementMedium);
  height: 70%;
  width: 100%;
}

.cs__desc-image {
  height: 100%;
  position: relative;
  z-index: 7;
}

.cs__desc-image picture {
  height: 100%;
  width: 100%;
}

.cs__desc-image img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.cs__desc-text-wrapper {
  height: 100%;
  width: 40%;
  position: relative;
}

.cs__desc-text-mask {
  z-index: 5;
  position: absolute;
  left: 0;
  top: 0;
  height: 120%;
  width: 100%;
  background: linear-gradient(
    0deg,
    var(--color-bg-primary) 10%,
    rgba(255, 255, 255, 0) 55%,
    var(--color-bg-primary) 90%
  );
}

.cs__desc-text {
  position: absolute;
  z-index: 1;
  bottom: -100%;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--marginElementMedium);
}

.cs__desc-text li {
  font-weight: 600;
}

@keyframes marqueescroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
