.stuff-s-header-cnt {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  margin-bottom: 7rem;
}

.stuff-s-header-image-cnt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
}

.stuff-s-header-info-layout {
  width: fit-content;
  display: flex;
  flex-direction: column;
}

.stuff-s-header-info-cnt {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.stuff-s-header-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.stuff-s-header-info-cnt h1 {
  text-transform: uppercase;
}

.info-cnt {
  padding: 5rem 0;
  padding-top: 2rem;
  background-color: var(--main-color);
  margin-bottom: var(--marginSection);
}

.info-cnt ul {
  color: black;
  text-align: left;
  margin-left: 50%;
  padding-right: var(--marginLayout);
}

.info-cnt ul li {
  color: var(--text-black);
}

.info-link {
  text-align: center;
  margin-top: 18rem;
  margin-bottom: 18rem;
}

.info-sticky {
  color: var(--text-black);
  position: sticky;
  padding-top: 18px;
  top: 0px;
  left: var(--marginLayout);
  width: fit-content;
}

.info-cnt li {
  margin-top: 3rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.info-cnt li em {
  margin-left: 3rem;
  text-transform: capitalize;
}

.credits-card a {
  text-decoration: underline;
}
.exposition-cnt {
  margin-right: 5%;
  text-align: right;
}
.exposition-cnt h2 {
  padding-left: 15vw;
}

.exposition-website-1-cnt {
  margin-top: var(--marginSection);
}

.exposition-website-1-cnt picture {
  display: flex;
  justify-content: center;
  align-items: center;
}

.climax-cnt {
  margin-top: var(--marginSection);
  padding-bottom: var(--marginSection);
  flex-direction: column;
  text-align: left;
  width: 100%;
}

.stuff-s-header-image-cnt img {
  width: auto;
  height: 100%;
}

.climax-cnt p {
  font-weight: 400;
  text-align: left;
}

.single-stuff-main-image img {
  width: 100%;
  height: 100%;
}

.credits-cnt {
  flex-direction: column;
  margin-top: var(--marginSection);
}

.credits-cnt h3 {
  text-transform: uppercase;
}

.exposition-website-1-cnt {
  display: flex;
  justify-content: flex-start;
  margin-top: var(--marginSection);
  width: 100%;
}

.exposition-website-1 {
  width: 85%;
}

.exposition-website-1 img {
  width: 100%;
  height: 100%;
}

.falling-action-website-1-cnt {
  display: flex;
  justify-content: flex-end;
  margin-top: var(--marginSection);
  width: 100%;
}

.falling-action-website-1 {
  width: 85%;
}

.falling-action-website-1 img {
  width: 100%;
  height: 100%;
}

.credits-card-cnt {
  width: 90%;
  flex-wrap: wrap;
  gap: 5rem;
  margin-top: 7rem;
}

.credits-card li {
  margin-top: 0.8rem;
}

.credits-card-title {
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.climax {
  width: 35%;
}

.stuff-em {
  display: inline-block;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.rising-action-cnt {
  width: 35%;
  margin-left: 5%;
  margin-top: var(--marginSection);
}

.climax-website-cnt {
  display: flex;
  flex-direction: column;
}

.climax-website {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.climax-website li {
  flex: 1 1 33%;
}

.climax-website li picture {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.climax-website li picture img {
  width: 70%;
  height: auto;
}

.climax-website-2 {
  margin-top: 6rem;
}

.climax-website-margin {
  margin-top: 4rem;
}

.falling-action-cnt {
  width: 35%;
  text-align: left;
  margin-top: var(--marginSection);
  margin-left: 5%;
}

.falling-action-cnt p {
  text-align: left;
  font-weight: 400;
}

.denouement-cnt {
  padding-right: 20%;
  margin-top: var(--marginSection);
}

.marquee {
  width: 140vw;
  max-width: 140%;
  margin-left: -6rem;
  margin-top: 12vw;
  position: relative;
  margin-bottom: 18vw;
  height: 206px;
  overflow: hidden;
  transform: rotateZ(-11deg);
}

.stuff-s-quick-info {
  margin-top: 1rem;
}

.track {
  overflow: hidden;
  background-color: var(--color-text-primary);
  position: absolute;
  white-space: nowrap;
  padding: 2rem;
}

.marq {
  overflow: hidden;
}

.track > em {
  margin: 20px 0;
  color: var(--color-text-inverse);
  text-transform: uppercase;
}

.box3-2-cnt {
  position: relative;
  overflow: hidden;
}

.box-1-img-1 {
  top: 10vw;
  left: 10vw;
  position: absolute;
}

.box-1-img-2 {
  top: 19vw;
  right: 3vw;
  position: absolute;
}

.falling-action-cg {
  margin-top: 0;
}

.project-item-container .ideology-image {
  margin-top: -1rem;
  z-index: 99;
}

.bionatur-image {
  margin-top: 37rem;
  z-index: 99;
}

.mabu-image {
  margin-top: 23rem;
  z-index: 99;
}
.base-image {
  margin-top: 59rem;
  z-index: 99;
}

.negozio-image {
  z-index: 99;
  margin-top: 79rem;
}

.area-image {
  z-index: 99;
  margin-top: 99rem;
}

.mizzica-image {
  z-index: 99;
  margin-top: 119rem;
}

.ops-image {
  z-index: 99;
  margin-top: 138rem;
}

.remax-image {
  z-index: 99;
  margin-top: -18rem;
}

.line-4 {
  margin-top: 4rem;
}
