.climax-website-cnt {
  margin-top: var(--marginSection);
  display: flex;
  flex-direction: column;
}

.climax-website {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.climax-website li {
  flex: 1 1 33%;
}

.climax-website li picture {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.climax-website li picture img {
  width: 70%;
  height: 100%;
  object-fit: contain;
}

.climax-website-2 {
  margin-top: 6rem;
}

.climax-website-margin {
  margin-top: 4rem;
}

.marquee {
  position: relative;
  margin-bottom: 18vw;
  height: 300px;
  overflow: hidden;
  margin-top: var(--marginSection);
}

.marquee em {
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  top: 0;
  left: 0;
  text-transform: uppercase;
  animation: marqueescroll 350s linear 0s infinite;
}

.project-item-container .ideology-image {
  margin-top: -1rem;
  z-index: 99;
}

.bionatur-image {
  margin-top: 37rem;
  z-index: 99;
}

.mabu-image {
  margin-top: 23rem;
  z-index: 99;
}
.base-image {
  margin-top: 59rem;
  z-index: 99;
}

.negozio-image {
  z-index: 99;
  margin-top: 79rem;
}

.area-image {
  z-index: 99;
  margin-top: 99rem;
}

.mizzica-image {
  z-index: 99;
  margin-top: 119rem;
}

.ops-image {
  z-index: 99;
  margin-top: 138rem;
}

.bottone-image {
  z-index: 99;
  margin-top: 148rem;
}

.v-lex-image {
  z-index: 99;
  margin-top: 169rem;
}

.rapinzeri-image {
  z-index: 99;
  margin-top: 185rem;
}

.viagiatori-image {
  z-index: 99;
  margin-top: 208rem;
}

.elettrico-image {
  z-index: 99;
  margin-top: 226rem;
}

.remax-image {
  z-index: 99;
  margin-top: -18rem;
}

.line-4 {
  margin-top: 4rem;
}

.case-studio-header {
  padding: var(--marginTop) 0;
}

.case-studio-header__first-row {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: var(--marginLayoutLeftFirst2);
}

.case-studio-header__first-row a {
  margin-right: 247px;
}

.case-studio-header__first-row h1 {
  margin-top: var(--marginElement);
}

.case-studio__caption {
  margin-bottom: var(--marginSection);
  text-transform: uppercase;
  margin-left: 83px;
  width: 70vw;
}

.case-studio__video video {
  width: 100%;
}

.case-studio-header__second-row {
  margin-top: var(--marginElementBig);
  padding-left: var(--marginLayoutLeftFirst2);
  display: flex;
  justify-content: space-between;
}

.case-studio-header__second-row__first-list {
  display: flex;
  width: 382px;
  flex-direction: row;
  justify-content: space-between;
}

.case-studio-header__second-row__first-list ul:nth-child(2) {
  width: 20%;
}

.second-row__second-list {
  margin-top: var(--marginElementMedium);
}

.case-studio-header__second-row__first-list ul li {
  margin-top: var(--marginElement);
}

.case-studio-header__second-row__image {
  width: 60%;
}

.case-studio-header__second-row__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.case-studio-header__second-row__second-list {
  margin-top: var(--marginElementBig);
}

.case-studio-header-cnt img {
  width: 100%;
  padding-left: var(--marginLayout2);
  padding-right: var(--marginLayout2);
}

.case-studio-description {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: var(--marginSection) 0;
}

.case-studio-description__first-column {
  width: 50%;
  padding-right: 4rem;
  padding-left: var(--marginLayoutLeftSecond2);
}

.case-studio-description__first-column h3 {
  font-weight: 800;
  margin-top: var(--marginElement);
}

.case-studio-description__second-column {
  width: 50%;
}

.case-studio-description__second-column p {
  padding-right: 26.2rem;
  color: var(--color-text-sec);
  text-indent: var(--textIndent);
}
.case-studio__screen-image {
  width: 100%;
  padding: 0 var(--marginLayoutRightSecond2);
}
.case-studio__screen-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.suv-video {
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
}

.suv-first-section {
  min-height: 2200px;
}

.suv-video picture {
  width: 100%;
  display: flex;
  justify-content: center;
}

.case-studio__images .case-studio__screen-image {
  margin-bottom: var(--marginElementMedium);
}

.suv-video img {
  width: 50%;
  height: auto;
}

.cs__gallery-main-image {
  width: 99vw;
  background-color: rgb(116, 116, 193);
}

.cs__gallery-main-image image {
  width: 100%;
}

.cs__video-inner {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cs__video-h1 {
  z-index: 8;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  justify-content: center;
}

.cs__video-h2 {
  top: 20%;
}

.cs__video-inner video {
  z-index: 2;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

@keyframes marqueescroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
